@define-color bg #1c1b1a;
@define-color fg #f8f6f2;
@define-color surface #35322d;
@define-color primary #ff0044;
@define-color secondary #fade3e;

window {
  background-color: @bg;
  color: @fg;
  border: 2px solid @primary;
  border-radius: 12px;
}

#entry:selected {
  background-color: @surface;
  color: @secondary;
}